/** Rainbow Dancer Animations **/
@-webkit-keyframes color_change{
  0% { border: 10px solid red; }
  20% { border: 10px solid orange; }
  40% { border: 10px solid yellow; }
  60% { border: 10px solid green; }
  80% { border: 10px solid blue; }
  100% { border: 10px solid purple; }
}

@keyframes color_change{
  0% { border: 10px solid red; }
  20% { border: 10px solid orange; }
  40% { border: 10px solid yellow; }
  60% { border: 10px solid green; }
  80% { border: 10px solid blue; }
  100% { border: 10px solid purple; }
}

@-webkit-keyframes sloganFlash{
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: purple; }
}

@keyframes sloganFlash{
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: purple; }
}
@-webkit-keyframes backgroundFlash{
  0% { background-color: red; }
  20% { background-color: orange;}
  40% { background-color: yellow; }
  60% { background-color: green; }
  80% { background-color: blue; }
  100% { background-color: purple;}
}

@keyframes backgroundFlash{
  0% { background-color: red; }
  20% { background-color: orange; }
  40% { background-color: yellow; }
  60% { background-color: green; }
  80% { background-color: blue; }
  100% { background-color: purple; }
}

/** Bouncy Dancer Animations **/ 
@-webkit-keyframes bouncing{
  0% { transform: translateY(-100%); }
  5% { transform: translateY(-200%); }
  15% { transform: translateY(0%); }
  30% { transform: translateY(-100%); }
  40% { transform: translateY(0%); }
  50% { transform: translateY(-60%); }
  70% { transform: translateY(0%); }
  80% { transform: translateY(-30%); }
  90% { transform: translateY(0%); }
  95% { transform: translateY(-14%); }
  97% { transform: translateY(0%); }
  99% { transform: translateY(-6%); }
  100% { transform: translateY(0%); }
}

@keyframes bouncing{
  0% { transform: translateY(-100%); }
  5% { transform: translateY(-200%); }
  15% { transform: translateY(0%); }
  30% { transform: translateY(-100%); }
  40% { transform: translateY(0%); }
  50% { transform: translateY(-60%); }
  70% { transform: translateY(0%); }
  80% { transform: translateY(-30%); }
  90% { transform: translateY(0%); }
  95% { transform: translateY(-14%); }
  97% { transform: translateY(0%); }
  99% { transform: translateY(-6%); }
  100% { transform: translateY(0%); }
}

/** BackFlip Animation **/
@-webkit-keyframes spin{
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

/** DoseyDo Animation **/
@-webkit-keyframes rotRight {
  from { transform: rotate(0deg) translateX(-200px) rotate(0deg);  }
  to { transform: rotate(360deg) translateX(-200px) rotate(-360deg);  } 
}

@keyframes rotRight {
  from { transform: rotate(0deg) translateX(-200px) rotate(0deg);  }
  to { transform: rotate(360deg) translateX(-200px) rotate(-360deg);  } 
}
@-webkit-keyframes rotLeft {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg);  }
  to { transform: rotate(-360deg) translateX(200px) rotate(360deg);  } 
}

@keyframes rotLeft {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg);  }
  to { transform: rotate(-360deg) translateX(200px) rotate(360deg);  } 
}

/** Grow Trump **/
@-webkit-keyframes growTrump {
  from { transform: scale(1); }
  to { transform: scale(1.1); } 
}

@keyframes growTrump {
  from { transform: scale(1); }
  to { transform: scale(1.1); } 
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('assets/danceclub.jpg');
  background-size: cover;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.trumpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
} 

.rainbowDancer{
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bouncyDancer{
  animation-name: bouncing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.dancefloor {
  width: 100%;
  height: 100%;
  opacity: .5;
  animation-name: backgroundFlash;
  animation-duration: .4s;
  animation-iteration-count: infinite;

}
.mainDancer{
  width: 400px;
  height: 400px;
  position:absolute;
  top: 50%;
  left: 55%;
}

.fredDancer{
  width: 450px;
  height: 450px;
  position:absolute;
  top: 42%;
  left: 10%;
}

.flipped{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.backflip{
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.doseyDoRight{
  animation: rotRight 2s 1 linear;
}

.doseyDoLeft{
  animation: rotLeft 2s 1 linear;
}

.slogan{
  display: none;
  vertical-align: middle;
  position: absolute;
  font-style: bold;
  top: 60px;
  font-size: 72px;
  animation-name: sloganFlash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0 auto;
  text-align: middle;
}
.theDonald {
  top: 20%;
  left: 30%;
  width: 600px;
  height: 600px;
}

.theDonaldGrows {
  animation-name: growTrump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

 footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: right;
  margin-right: 20px;
}