@-webkit-keyframes color_change{
  0% { border: 10px solid red; }
  20% { border: 10px solid orange; }
  40% { border: 10px solid yellow; }
  60% { border: 10px solid green; }
  80% { border: 10px solid blue; }
  100% { border: 10px solid purple; }
}


@keyframes color_change{
  0% { border: 10px solid red; }
  20% { border: 10px solid orange; }
  40% { border: 10px solid yellow; }
  60% { border: 10px solid green; }
  80% { border: 10px solid blue; }
  100% { border: 10px solid purple; }
}

@-webkit-keyframes bouncing{
  0% { transform: translateY(-100%); }
  5% { transform: translateY(-200%); }
  15% { transform: translateY(0%); }
  30% { transform: translateY(-100%); }
  40% { transform: translateY(0%); }
  50% { transform: translateY(-60%); }
  70% { transform: translateY(0%); }
  80% { transform: translateY(-30%); }
  90% { transform: translateY(0%); }
  95% { transform: translateY(-14%); }
  97% { transform: translateY(0%); }
  99% { transform: translateY(-6%); }
  100% { transform: translateY(0%); }
}

@keyframes bouncing{
  0% { transform: translateY(-100%); }
  5% { transform: translateY(-200%); }
  15% { transform: translateY(0%); }
  30% { transform: translateY(-100%); }
  40% { transform: translateY(0%); }
  50% { transform: translateY(-60%); }
  70% { transform: translateY(0%); }
  80% { transform: translateY(-30%); }
  90% { transform: translateY(0%); }
  95% { transform: translateY(-14%); }
  97% { transform: translateY(0%); }
  99% { transform: translateY(-6%); }
  100% { transform: translateY(0%); }
}



body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image:url('assets/danceclub.jpg');
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
} 

.rainbowDancer{
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.bouncyDancer{
  animation-name: bouncing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}
.dancefloor {

}
.mainDancer{
  width: 400px;
  height: 400px;
}
/*.flipped{
  width: 200px;
  height: 200px;
}*/